@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Готовий змінювати світ?</h1>
    <p>Ми віримо, що добра дія має велику силу та прагнемо дати можливість кожному відчути її змінотворчий ефект</p>
</div>
